#search{
	margin-left:550px;
	margin-top:0px;
	width:200px;
}

#date{
	margin-left:500px;
	margin-top:150px;
}

#hour{
	margin-left:255px;
	margin-top:-19px;
}

#conteiner{ /* container? */
	position:relative;
	
	margin: 0 auto;
	width:1000px;
	height:100%;
}

#title{
	font-size:30;
	margin:0 auto;
	margin-top:0px;
	text-align: center;
	font-family:sans-serif;
	font-weight:800;
	border:solid 1px;
	width:800;
	height:50px;
	background-color:white;
	background-image:url('FUNDOTIT.jpg');
}

#tit{
	margin-top:7px;
}

#register{
	margin-left:540px;
	margin-top:180px;
	height:100px;
}

#connect{
	margin-left:540px;
	height:0px;
}

#datei{
	margin-left:520px;
	margin-top:50px;
}

#error{
	width:400px;
	margin-left:500px;
	height:40px;
	margin-top:120px;
	font-weight:bold;
}

#errortext{
	margin-top:10px;
	margin-left:10px;
}

#lyricbox{
 position:relative;
 border:solid 1px;
 background-color:white;
 margin-top:200px;
 margin-left:0px;
 width:45%;
 
}

#videobox{
    border:solid 1px;    
	right:150px;
	top:435px;
	width:480;
	height:360;
	position:absolute;	
}

#artistimage{	
	position:absolute;
	right:350px;
	top:65px;
	height:200px;
	width:180px;
}

#artisturl{
	background-color:#DCDCDC;
    border:solid 1px;
	position:absolute;
	right:220px;
	top:277px;
}

#tops{
    background-color:#DCDCDC;
    border:solid 1px;
    position:absolute;
	top:300px;
	right:260px;
	width:270px;
	height:115px;
}

#topt{
	background-color:#DCDCDC;
    border:solid 1px;
	position:absolute;
	top:300px;
	right:40px;
	width:185px;
	height:115px;
}

#topa{
	background-color:#DCDCDC;
    border:solid 1px;
	position:absolute;
	top:60px;
	right:0px;
	height:210px;
	width:340px;
}

#errorsearch{
	margin-left:500px;
	margin-top:3px;
	
}

#welcome{
 font-weight:bold;
 height:100%;
 width:250px;
 margin-left:550px;
 margin-top:200px; 
}

#like{
  height:80px;
  width:450px;
  margin-left:550px;
}

#artistbio{
 border:solid 1px;
 background-color:#DCDCDC;
 position:absolute;
 top:65px;
 width:465px;

}
